* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}
header {
  padding: 20px;
  background-color: rgb(30, 115, 141);
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  min-width: 492px;
}

.search_bar {
  display: flex;
  align-items: center;
}
.search_input {
  min-width: 250px;
  height: 140%;
  font-size: 16px;
  padding: 8px;
  border-radius: 8px;
  border: none;
}
.search_icon {
  background-color: rgb(211, 94, 219);
  border-radius: 8px;
  cursor: pointer;
}
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.basket {
  display: flex;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  position: relative;
}
.cart {
  scale: 0.75;
}
.header_title span:first-child {
  margin-right: 6px;
  color: rgb(255, 255, 255);
}
.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100%;
}
.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 24px;
  position: relative;
}
.line {
  background-color: black;
  width: 4px;
  height: 96%;
  right: 0;
  position: absolute;
}
.categories_items {
  display: flex;
  flex-direction: column;
  position: fixed;
}
.categories_title {
  text-align: center;
  margin: 10px 0 30px;
  width: 100%;
}
.categories_items button {
  margin-bottom: 24px;
  min-width: 120px;
  min-height: 40px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 12px;
  background: none;
}
.categories_items button.active {
  background-color: rgb(30, 115, 141);
  color: rgb(51, 196, 196);
  text-shadow: 0 0 5px #000000;
}
.products {
  padding: 24px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: flex-start;
}
.products_title {
  text-align: center;
  margin: 0 0 60px;
  width: 100%;
  font-size: 28px;
  height: 24px;
}

.mphone {
  display: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 4px;
  padding: 10px;
  border-radius: 24px;
  max-width: 300px;
  position: relative;
}
.description {
  font-size: 12px;
  text-align: center;
  margin: 6px 0 6px;
  width: 100%;
}
.item_price {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.add_to_basket {
  font-size: 16px;
  border-radius: 4px;
  border: none;
  background: rgb(255, 255, 255);
  cursor: pointer;
  padding: 4px;
  flex-grow: 1;
  background-color: rgb(30, 115, 141);
  margin-top: 8px;
}

.mphone:hover {
  box-shadow: 0px 0px 20px 0px rgba(66, 68, 90, 1);
  scale: 1.05;
}

.add_to_basket:hover {
  background-color: lightblue;
}
.buy {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.price,
.price_sale,
.add_to_basket,
.item_name {
  font-weight: bold;
}
.promotion {
  position: absolute;
  color: yellow;
  background-color: rgb(30, 115, 141);
  padding: 8px;
  border-radius: 8px;
  right: 10px;
  top: 10px;
}

.price,
.price_sale {
  color: green;
  margin-right: 10px;
}

.sale {
  color: black;
  font-size: 14px;
  position: relative;
}

.line2 {
  width: 80%;
  height: 2px;
  background: black;
  position: absolute;
  left: 0;
  top: 40%;
  rotate: -35deg;
}

.hidden {
  display: none;
}
.basket_number {
  position: absolute;
  left: 0;
  top: 0;
  background-color: red;
  width: 18px;
  height: 18px;
  display: flex;
  border-radius: 9px;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
.itemsinbasket {
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 1);
  position: absolute;
  top: 60px;
  right: 0px;
  width: 240px;
  height: 360px;
  z-index: 2;
  background-color: white;
}
.basket_container {
  width: 100%;
  height: 100%;
  display: flex;
}
.items_container {
  position: absolute;
  width: 100%;
  height: 80%;
  overflow: auto;
  bottom: 0;
}
.item_added {
  width: 100%;
  height: 20%;

  margin: 8px 0 8px;
  display: flex;
  justify-content: left;
  position: relative;
}
.item_added:hover {
  box-shadow: 0px 0px 4px 0px rgba(66, 68, 90, 1);
}
.clear_basket {
  position: absolute;
  height: 30px;
  width: 100%;
  text-align: center;
  top: 0;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clear_text {
  position: absolute;
  top: 4px;
  padding: 6px;
  font-weight: bold;
  font-size: 16px;
  background-color: rgb(30, 115, 141);
  border-radius: 8px;
  cursor: pointer;
  border: none;
  color: black;
}
.clear_text:hover {
  background-color: lightblue;
}
.small_phone {
  left: 0;
  height: 90%;
  align-self: center;
}
.phone_name {
  position: absolute;
  left: 60px;
  font-size: 12px;
  color: black;
  font-weight: bold;
  top: 12px;
}
.phone_price {
  color: black;
  position: absolute;
  left: 60px;
  top: 30px;
  font-size: 10px;
}
.bin_img {
  position: absolute;
  right: 10px;
  align-self: center;
  scale: 0.65;

  cursor: pointer;
  border-radius: 40px;
}
.bin_img:hover {
  scale: 0.75;
}
.item_count {
  position: absolute;
  color: black;
  left: 150px;
  top: 30px;
  font-size: 10px;
}
.price_added {
  position: absolute;
  margin: 12px 0 12px;
  width: 100%;
  font-weight: bold;
  text-align: center;
  color: black;
  top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.price_all,
.price_all2 {
  margin-right: 4px;
}

.currency {
  position: absolute;
  left: 189px;
  color: green;
  font-weight: bold;
}
.currency2 {
  position: absolute;
  left: 163px;
  color: green;
  font-weight: bold;
}
.quantity {
  position: absolute;
  color: black;
  left: 125px;
  top: 30px;
  font-size: 10px;
}

@media screen and (width<=700px) {
  header {
    padding-top: 30px;
  }
  h1 {
    position: absolute;

    top: -10px;
    font-size: 20px;
  }
  .shop_cart {
    scale: 0.5;
  }
  .header_title span:first-child {
    margin-right: 3px;
    color: rgb(255, 255, 255);
  }
  .header_title span:last-child {
    width: 30px;
    height: 40%;
  }

  .products {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .categories {
    min-width: 140px;
  }
}
